{% extends "base.html" %}

{% block content %}
  <div class="row">
      <div class="col-8 news-content">
        {{ news.text|safe }}
        {% if news.comments %}
          <h3>Комментарии:</h3>
          {% for comment in news.comments %}
            <div class="card">
              <div class="card-body">
                <p class="card-text">{{ comment.text }}</p>
                <p class="card-text">
                  <small>
                    Опубликовано: {{ comment.created.strftime('%d.%m.%Y') }} | Автор: {{ comment.user.username }}
                  </small>
                </p>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('news.add_comment') }}" method="POST">
            {{ comment_form.hidden_tag() }}
            <div class="form-group mb-3">
              {{ comment_form.comment_text.label }}
              {{ comment_form.comment_text() }}
            </div>
            {{ comment_form.submit()}}
          </form>
        {% else %}
          <p><a href="{{ url_for('user.login', next=request.full_path) }}">Авторизируйтесь</a> чтобы добавить комментарий</p>
        {% endif %}
      </div>
      <div class="col-4">
        {% include('messages.html') %}
      </div>
  </div>
{% endblock %}